<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.web.controller.sen.mapper.FavoritesMapper">
    
    <resultMap type="Favorites" id="FavoritesResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="userName"  column="user_name" />
        <result property="courseName" column="course_name" />
    </resultMap>

    <sql id="selectFavoritesVo">
        SELECT
            f.id,
            f.user_id,
            u.username AS user_name,
            f.course_id,
            c.name AS course_name
        FROM favorites f
                 LEFT JOIN user u ON f.user_id = u.id
                 LEFT JOIN course c ON f.course_id = c.id
    </sql>

    <select id="selectFavoritesList" resultMap="FavoritesResult">
        <include refid="selectFavoritesVo" />
        <!-- 可选的筛选条件 -->
        <where>
            <if test="userName != null and userName != ''">
                AND u.username LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="courseName != null and courseName != ''">
                AND c.name LIKE CONCAT('%', #{courseName}, '%')
            </if>
        </where>
    </select>


    <select id="selectFavoritesById" parameterType="Long" resultMap="FavoritesResult">
        <include refid="selectFavoritesVo"/>
        where id = #{id}
    </select>

    <insert id="insertFavorites" parameterType="Favorites" useGeneratedKeys="true" keyProperty="id">
        insert into favorites
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateFavorites" parameterType="Favorites">
        update favorites
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFavoritesById" parameterType="Long">
        delete from favorites where id = #{id}
    </delete>

    <delete id="deleteFavoritesByIds" parameterType="String">
        delete from favorites where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>