<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.web.controller.sen.mapper.LessonMapper">
    
    <resultMap type="Lesson" id="LessonResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="title"    column="title"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="description"    column="description"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectLessonVo">
        select id, course_id, title, video_url, description, sort_order, created_at, updated_at from lesson
    </sql>

    <select id="selectLessonList" parameterType="Lesson" resultMap="LessonResult">
        <include refid="selectLessonVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="videoUrl != null  and videoUrl != ''"> and video_url = #{videoUrl}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
        </where>
    </select>
    
    <select id="selectLessonById" parameterType="Long" resultMap="LessonResult">
        <include refid="selectLessonVo"/>
        where id = #{id}
    </select>

    <insert id="insertLesson" parameterType="Lesson" useGeneratedKeys="true" keyProperty="id">
        insert into lesson
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="description != null">description,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="description != null">#{description},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateLesson" parameterType="Lesson">
        update lesson
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLessonById" parameterType="Long">
        delete from lesson where id = #{id}
    </delete>

    <delete id="deleteLessonByIds" parameterType="String">
        delete from lesson where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>