<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.web.controller.sen.mapper.UserLogMapper">
    
    <resultMap type="UserLog" id="UserLogResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="action"    column="action"    />
        <result property="description"    column="description"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="userAgent"    column="user_agent"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectUserLogVo">
        select id, user_id, action, description, ip_address, user_agent, created_at from user_log
    </sql>

    <select id="selectUserLogList" parameterType="UserLog" resultMap="UserLogResult">
        <include refid="selectUserLogVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userAgent != null  and userAgent != ''"> and user_agent = #{userAgent}</if>
        </where>
    </select>
    
    <select id="selectUserLogById" parameterType="Long" resultMap="UserLogResult">
        <include refid="selectUserLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserLog" parameterType="UserLog" useGeneratedKeys="true" keyProperty="id">
        insert into user_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="action != null and action != ''">action,</if>
            <if test="description != null">description,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="action != null and action != ''">#{action},</if>
            <if test="description != null">#{description},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="userAgent != null">#{userAgent},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateUserLog" parameterType="UserLog">
        update user_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="action != null and action != ''">action = #{action},</if>
            <if test="description != null">description = #{description},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="userAgent != null">user_agent = #{userAgent},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserLogById" parameterType="Long">
        delete from user_log where id = #{id}
    </delete>

    <delete id="deleteUserLogByIds" parameterType="String">
        delete from user_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>